.App {
  text-align: center;
  /* margin: 0px auto; */
  display: block;
}

.Form {
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
