.container {
  display: flex;
  justify-content: center;
}
.input {
  display: block;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(53, 53, 53, 0.2);
  border-radius: 4px;
  cursor: pointer;
  line-height: 2;
  transition: all var(--main-transition);
  outline: none;
}
.label {
  width: 300px;
  margin-bottom: 8px;
  align-items: center;
  font-size: 20px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: black;
}
.input:focus {
  border-color: #3ea5fa;
}
