.btnAddContact {
  margin-top: 20px;
  cursor: pointer;
}
.btnAddContact:hover {
  background-color: aquamarine;
}

.form {
  border: 2px solid darkcyan;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  padding: 2px 20px 20px 20px;
}
