.btnDelete {
  margin-left: 20px;
  cursor: pointer;
}
.btnDelete:hover {
  background-color: aquamarine;
}

.contactListItem {
  color: darkcyan;
  font-size: 20px;
  list-style: none;
}
.contactListItem:not(:last-child) {
  margin-bottom: 10px;
}
